{% extends 'layout.html.twig' %}

{% block page_title %}{{ category.name }}{% endblock %}

{% block content %}
    <!-- blog-details-area -->
    <section class="blog-details-area pt-80 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-1">
                    <div class="blog-details-social">
                        <ul class="list-wrap">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fas fa-share"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="blog-post-wrapper">
                        {% for post in category.posts %}
                        <div class="latest__post-item">
                            <div class="latest__post-thumb tgImage__hover">
                                <a href="{{ path('default_post', {
                                    'category' : post.categories[0].slug,
                                    'slug' : post.slug
                                }) }}">
                                    <img src="{{ post.image }}"
                                         alt="{{ post.title }}">
                                </a>
                            </div>
                            <div class="latest__post-content">
                                <ul class="tgbanner__content-meta list-wrap">
                                    <li class="category">
                                        {% for category in post.categories %}
                                            <a href="{{ path('default_category', { 'slug' : category.slug }) }}">
                                                {{ category.name }}
                                            </a>
                                        {% endfor %}
                                    </li>
                                    <li><span class="by">Par</span> <a href="#">{{ post.user.firstName }} {{ post.user.familyName }}</a></li>
                                    <li>{{ post.publishedAt|date('d/m/Y') }}</li>
                                </ul>
                                <h3 class="title tgcommon__hover">
                                    <a href="{{ path('default_post', {
                                        'category' : post.categories[0].slug,
                                        'slug' : post.slug
                                    }) }}">
                                        {{ post.title }}
                                    </a>
                                </h3>
                                <div class="latest__post-read-more">
                                    <a href="{{ path('default_post', {
                                        'category' : post.categories[0].slug,
                                        'slug' : post.slug
                                    }) }}">Lire la suite <i class="far fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <aside class="blog-sidebar">
                        <div class="widget sidebar-widget">
                            <div class="tgAbout-me">
                                <div class="tgAbout-thumb">
                                    <img src="assets/img/others/about_me.png" alt="me">
                                </div>
                                <div class="tgAbout-info">
                                    <p class="intro">Hi there, I’m <span>Rosalina D.</span></p>
                                    <span class="designation">Content Writer</span>
                                </div>
                                <div class="tgAbout-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="widget sidebar-widget widget_categories">
                            <h4 class="widget-title">Trending Category</h4>
                            <ul class="list-wrap">
                                <li>
                                    <div class="thumb"><a href="blog.html"><img src="assets/img/category/side_category01.jpg" alt="img"></a></div>
                                    <a href="blog.html">technology</a>
                                    <span class="float-right">12</span>
                                </li>
                                <li>
                                    <div class="thumb"><a href="blog.html"><img src="assets/img/category/side_category02.jpg" alt="img"></a></div>
                                    <a href="blog.html">business</a>
                                    <span class="float-right">08</span>
                                </li>
                                <li>
                                    <div class="thumb"><a href="blog.html"><img src="assets/img/category/side_category03.jpg" alt="img"></a></div>
                                    <a href="blog.html">fitness</a>
                                    <span class="float-right">13</span>
                                </li>
                                <li>
                                    <div class="thumb"><a href="blog.html"><img src="assets/img/category/side_category04.jpg" alt="img"></a></div>
                                    <a href="blog.html">Gadgets</a>
                                    <span class="float-right">09</span>
                                </li>
                                <li>
                                    <div class="thumb"><a href="blog.html"><img src="assets/img/category/side_category05.jpg" alt="img"></a></div>
                                    <a href="blog.html">politics</a>
                                    <span class="float-right">15</span>
                                </li>
                            </ul>
                        </div>
                        <div class="widget sidebar-widget">
                            <div class="sidePost-active">
                                <div class="sidePost__item" data-background="assets/img/category/side_post01.jpg">
                                    <div class="sidePost__content">
                                        <a href="blog.html" class="tag">Technology</a>
                                        <h5 class="title tgcommon__hover"><a href="blog-details.html">Tips for helping to make an your startup a success</a></h5>
                                    </div>
                                </div>
                                <div class="sidePost__item" data-background="assets/img/category/side_post02.jpg">
                                    <div class="sidePost__content">
                                        <a href="blog.html" class="tag">Travel</a>
                                        <h5 class="title tgcommon__hover"><a href="blog-details.html">Tips for helping to make an your startup a success</a></h5>
                                    </div>
                                </div>
                                <div class="sidePost__item" data-background="assets/img/category/side_post02.jpg">
                                    <div class="sidePost__content">
                                        <a href="blog.html" class="tag">Gaming</a>
                                        <h5 class="title tgcommon__hover"><a href="blog-details.html">Tips for helping to make an your startup a success</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget sidebar-widget">
                            <h4 class="widget-title">Instagram Feeds</h4>
                            <div class="sidebarInsta__wrap">
                                <div class="sidebarInsta__top">
                                    <div class="sidebarInsta__logo">
                                        <img src="assets/img/instagram/insta_logo.png" alt="img">
                                    </div>
                                    <div class="sidebarInsta__info">
                                        <h6 class="name"><a href="#">ins.co/sarso.co</a></h6>
                                        <span class="designation">Code Supply Co.</span>
                                    </div>
                                </div>
                                <div class="sidebarInsta__slider-wrap">
                                    <div class="swiper-container sidebarInsta-active">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/side_insta01.jpg" alt="img"></a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/side_insta02.jpg" alt="img"></a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/side_insta03.jpg" alt="img"></a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/side_insta04.jpg" alt="img"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-container sidebarInsta-active-2" dir="rtl">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/side_insta05.jpg" alt="img"></a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/side_insta06.jpg" alt="img"></a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/side_insta07.jpg" alt="img"></a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/side_insta08.jpg" alt="img"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebarInsta__bottom">
                                    <a href="https://www.instagram.com/" target="_blank" class="btn"><i class="fab fa-instagram"></i><span class="text">Follow Me</span></a>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-details-area-end -->
{% endblock %}

