{% extends 'layout.html.twig' %}

{% block page_title %}{{ category.name }}{% endblock %}

{% block content %}
    <!-- blog-details-area -->
    <section class="blog-details-area pt-80 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-1">
                    <div class="blog-details-social">
                        <ul class="list-wrap">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fas fa-share"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="blog-post-wrapper">
                        {% for post in category.posts %}
                        <div class="latest__post-item">
                            <div class="latest__post-thumb tgImage__hover">
                                <a href="{{ path('default_post', {
                                    'category' : post.categories[0].slug,
                                    'slug' : post.slug
                                }) }}">
                                    <img src="{{ asset('uploads/posts/' ~ post.image) }}"
                                         alt="{{ post.title }}">
                                </a>
                            </div>
                            <div class="latest__post-content">
                                <ul class="tgbanner__content-meta list-wrap">
                                    <li class="category">
                                        {% for category in post.categories %}
                                            <a href="{{ path('default_category', { 'slug' : category.slug }) }}">
                                                {{ category.name }}
                                            </a>
                                        {% endfor %}
                                    </li>
                                    <li><span class="by">Par</span> <a href="#">{{ post.user.firstName }} {{ post.user.familyName }}</a></li>
                                    <li>{{ post.publishedAt|date('d/m/Y') }}</li>
                                </ul>
                                <h3 class="title tgcommon__hover">
                                    <a href="{{ path('default_post', {
                                        'category' : post.categories[0].slug,
                                        'slug' : post.slug
                                    }) }}">
                                        {{ post.title }}
                                    </a>
                                </h3>
                                <div class="latest__post-read-more">
                                    <a href="{{ path('default_post', {
                                        'category' : post.categories[0].slug,
                                        'slug' : post.slug
                                    }) }}">Lire la suite <i class="far fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    {{ render(controller(
                        'App\\Controller\\RenderController::renderSidebar', {max: 3}
                    )) }}
                </div>
            </div>
        </div>
    </section>
    <!-- blog-details-area-end -->
{% endblock %}

