<nav class="tgmenu__nav">
    <div class="logo d-block d-lg-none">
        <a href="index.html" class="logo-dark"><img src="{{ asset('assets/img/logo/logo.png') }}" alt="Logo"></a>
        <a href="index.html" class="logo-light"><img src="{{ asset('assets/img/logo/w_logo.png') }}" alt="Logo"></a>
    </div>
    <div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-lg-flex">
        <ul class="navigation">
            <li class="active menu-item-has-children"><a href="#">Home</a>
                <ul class="sub-menu">
                    <li><a href="index.html">Home Default</a></li>
                    <li><a href="index-2.html">Home Interior</a></li>
                    <li><a href="index-3.html">Home Travel</a></li>
                    <li><a href="index-4.html">Home Technology</a></li>
                    <li><a href="index-5.html">Home NFT</a></li>
                    <li><a href="index-6.html">Home Fashion</a></li>
                    <li><a href="index-7.html">Home Adventure</a></li>
                    <li class="active"><a href="index-8.html">Home Minimal</a></li>
                </ul>
            </li>
            <li><a href="lifestyle.html">Lifestyle</a></li>
            <li><a href="travel.html">Travel</a></li>
            <li class="menu-item-has-children"><a href="#">Post Type</a>
                <ul class="sub-menu">
                    <li><a href="blog.html">Our Blog</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="nft.html">NFT</a></li>
        </ul>
    </div>
    <div class="tgmenu__action">
        <ul class="list-wrap">
            <li class="mode-switcher">
                <nav class="switcher__tab">
                    <span class="switcher__btn light-mode"><i class="flaticon-sun"></i></span>
                    <span class="switcher__mode"></span>
                    <span class="switcher__btn dark-mode"><i class="flaticon-moon"></i></span>
                </nav>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_REPORTER') %}
                    <li class="user">
                        <a title="Créer un article" href="{{ path('post_create') }}">
                            <i class="far fa-newspaper"></i></a>
                    </li>
                {% endif %}
                <li class="user">
                    <a title="Déconnexion" href="{{ path('app_logout') }}">
                        <i class="far fa-sign-out"></i></a>
                </li>
            {% else %}
                <li class="user">
                    <a href="{{ path('app_login') }}" title="Connexion">
                        <i class="far fa-sign-in"></i></a>
                </li>
                <li class="user">
                    <a title="Inscription" href="{{ path('user_register') }}">
                        <i class="far fa-user-plus"></i></a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>