<nav class="tgmenu__nav">
    <div class="logo d-block d-lg-none">
        <a href="index.html" class="logo-dark"><img src="{{ asset('assets/img/logo/logo.png') }}" alt="Logo"></a>
        <a href="index.html" class="logo-light"><img src="{{ asset('assets/img/logo/w_logo.png') }}" alt="Logo"></a>
    </div>
    <div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-lg-flex">
        <ul class="navigation">
            <li>
                <a href="{{ path('default_home') }}">Accueil</a>
            </li>
            {% for category in categories %}
                <li>
                    <a href="{{ path('default_category', {
                        'slug': category.slug
                    }) }}">
                        {{ category.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="tgmenu__action">
        <ul class="list-wrap">
            <li class="mode-switcher">
                <nav class="switcher__tab">
                    <span class="switcher__btn light-mode"><i class="flaticon-sun"></i></span>
                    <span class="switcher__mode"></span>
                    <span class="switcher__btn dark-mode"><i class="flaticon-moon"></i></span>
                </nav>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_REPORTER') %}
                    <li class="user">
                        <a title="Créer un article" href="{{ path('post_create') }}">
                            <i class="far fa-newspaper"></i></a>
                    </li>
                {% endif %}
                <li class="user">
                    <a title="Déconnexion" href="{{ path('app_logout') }}">
                        <i class="far fa-sign-out"></i></a>
                </li>
            {% else %}
                <li class="user">
                    <a href="{{ path('app_login') }}" title="Connexion">
                        <i class="far fa-sign-in"></i></a>
                </li>
                <li class="user">
                    <a title="Inscription" href="{{ path('user_register') }}">
                        <i class="far fa-user-plus"></i></a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>